<div class="form-container">

  <div class="form">
    
    <form [formGroup]="technologyForm">
      <h4>Technology</h4>
      <div class="inputs">
        <label for="technology">Technology:</label>
        <select formControlName="technology" #technologySelect (change)="onTechnologyChange(technologySelect.value)" class="custom-select">
          <option class="default" value="">Select</option>
          <option *ngFor="let technology of technologies" [value]="technology">{{ technology }}</option>
          <!-- Add more options here -->
        </select>
        <br>
        <span class="text-danger"
        *ngIf="register['technology']?.touched && register['technology']?.errors?.['required']">*Please select a technology
        </span>
      </div>
  

      <div class="inputs" *ngIf="stacks != null">
        <label for="stack">Stack:</label>
        <mat-select id="ms1" #mySel multiple formControlName="stack" title={{stacks.frontend}}{{stacks.backend}} >
       
      
          <mat-option (click)="toggleSelectAllOptions(mySel)">Select All</mat-option>

      
          <mat-optgroup label="Frontend">
            <mat-option *ngFor="let f of stacks.frontend" [value]="f" (click)="toggleOption(f)" >{{ f }}</mat-option>
          </mat-optgroup>
          <ng-container *ngIf="stacks.backend != null">
            <mat-optgroup label="Backend">
              <mat-option *ngFor="let b of stacks.backend" [value]="b" (click)="toggleOption(b)">{{ b }}</mat-option>
            </mat-optgroup>
          </ng-container>
        </mat-select>
        <br>
        <span class="text-danger" *ngIf="register['stack']?.touched && register['stack']?.errors?.['required']">
          *Please select a mandatory</span>
      </div>
      
      
          
      <div class="inputs" *ngIf="stacks != null">
        <label for="level">Level:</label>
        <select id="level" formControlName="level">
          <option value="">Select</option>
          <option *ngFor="let l of levels" [value]="l">{{ l }}</option>
        </select>
        <br>
        <span class="text-danger"
        *ngIf="register['level']?.touched && register['level']?.errors?.['required']">*Please select the level</span>
      </div>
      <div class="buttons">
        <button  class="sumbitBtn"  (click)="goToPrevious()">Back</button>
        <button class="sumbitBtn" type="button"  (click)="submit()">Submit</button>
      </div>
    </form>
  
  
  </div>
 
  <div class="gif">
    <img src="../../../../assets/img/brand/technologies.png"  alt="GIF Preview" />
  </div>
  </div>
 

